{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h4>ჩვენს შესახებ</h4>
    <p><strong>Skill Lab</strong> არის თანამედროვე სასწავლო პლატფორმა, რომელიც ეხმარება ქართველი სტუდენტებსა და ახალგაზრდებს მათი სწავლების მიზნების მიღწევაში. ჩვენი მიზანია გავზარდოთ ცოდნა და დავეხმაროთ უნარების განვითარებაში სხვადასხვა საგნებში, როგორიცაა მათემატიკა, ფიზიკა, კომპიუტერული მეცნიერება და სხვა მეცნიერებები.</p>

    <p>Skill Lab მოიცავს სასარგებლო მასალებს, როგორიცაა წიგნები, ვიდეოები, ინსტრუქციები და სხვა რესურსები, რომლებიც შექმნილია ისეთი ექსპერტების მიერ, რომლებიც მზად არიან გაუზიარონ თავიანთი გამოცდილება და ცოდნა.</p>

    <p>ჩვენი პლატფორმა თავდაპირველად შექმნილია ისეთი ადამიანების მიერ, ვინც დაინტერესებულია საქართველოს განათლების განვითარებით და მიზნად ისახავს შექმნას სივრცე, სადაც სტუდენტებს ექნებათ შესაძლებლობა განვითარდნენ და მიაღწიონ მათ აკადემიურ მიზნებს.</p>

    <p>გვსურს, რომ Skill Lab გახდეს მნიშვნელოვანი ინსტრუმენტი ქართველი სტუდენტებისთვის, რაც მათ საშუალებას მისცემს მიაღწიონ მაღალი ხარისხის განათლებას, გაივლონ მომზადება კონკურსებისთვის და დაამყარონ წარმატებული კარიერა.</p>

    <p>Skill Lab-ის პლატფორმა განკუთვნილია როგორც სკოლის მოსწავლეებისთვის, ისე უნივერსიტეტის სტუდენტებისთვის. მომავალში ჩვენ ვგეგმავთ სხვა ფუნქციების დამატებას, რათა დავეხმაროთ სტუდენტებს მათი მთელი პოტენციალის განხორციელებაში.</p>

    <p>ჩვენთან ყოფნა ნიშნავს უკეთეს მომავალს!</p>

    <p>პლატფორმა შექმნილია გიორგი ქსოვრელის მიერ.</p>
</div>
{% endblock %}
