{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h4 style="color: #FF6800;">ჩვენს შესახებ</h4>

    <p><strong style="color: #FF6800;">Skill Lab</strong> არის სწავლის პლატფორმა, რომელიც ეხმარება სტუდენტებსა და ახალგაზრდებს მიზნების მიღწევაში სხვადასხვა სფეროში. ჩვენი მთავარი მიმართულებები არიან მათემატიკა, ფიზიკა და სხვა საგნები, რომლებიც ჩვენი საზოგადოების წევრებს ეხმარება აკადემიურ და პიროვნულ ზრდაში.</p>

    <div class="row">
        <div class="col-md-6">
            <img src="../static/E_book_1.jpg" alt="Learning image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <img src="../static/E_learning.jpg" alt="Students working" class="img-fluid">
        </div>
    </div>

    <p>ჩვენი პლატფორმა მოიცავს უამრავ სასწავლო რესურსს: წიგნები, ვიდეოები, და გაკვეთილები, რომლებიც მიზნად ისახავენ სტუდენტების ცოდნის გაღრმავებას და მათი უნარების განვითარებას.</p>

    <h5 style="color: #FF6800;">ჩვენი მიზნები</h5>
    <ul>
        <li><strong>მათემატიკა</strong>: კონკურსებისთვის და ყოველდღიური გამოყენებისთვის ცოდნის გაღრმავება</li>
        <li><strong>ფიზიკა</strong>: მოსწავლეების განთავისუფლება რთული კონცეფციებისგან და მათი მარტივად აღსაქმელი გახდომა</li>
        <li><strong>მხარდაჭერა</strong>: სტუდენტებისთვის ყველა ეტაპზე დახმარება, რათა წარმატება მიაღწიონ თავიანთ სწავლის გზაზე</li>
    </ul>

    <p>ჩვენი პლატფორმა მუდმივად განახლდება და განვითარდება, რათა კიდევ უფრო მეტი ფუნქცია და რესურსი შევთავაზოთ ჩვენს წევრებს.</p>

    <h5 style="color: #FF6800;">როგორ მუშაობს Skill Lab?</h5>
    <p>Skill Lab არის ინტერნეტ პლატფორმა, რომელშიც რეგისტრაცია შემდეგ, მიიღებთ წვდომას ყველა სასწავლო მასალაზე, ვიქნებით მუდმივად თქვენს გვერდით სწავლის პროცესში.</p>

    <div class="d-flex justify-content-center">
        <img src="../static/students.jpg" alt="Animated learning gif" class="img-fluid" style="max-width: 300px;">
    </div>

    <p>ჩვენი მიზანია გახდეს თქვენი სწავლის მეგობარი, რომელიც ყოველთვის მზადაა დახმარებისთვის და რისკის განსახილველად!</p>

    <p>პლატფორმა შექმნილია გიორგი ქსოვრელის მიერ.</p>
</div>
{% endblock %}
