<nav class="navbar navbar-expand-md bg-orange rounded">
  <div class="container-fluid">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse d-lg-flex collapse" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="/" style="font-weight: bold;">Skill Lab</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-weight: bold;">ჩვენს შესახებ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-weight: bold;">NEWS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: bold;">სასწავლო რესურსები</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/books">წიგნები</a></li>
            <li><a class="dropdown-item" href="#">ვიდეო მასალა</a></li>
            <li><a class="dropdown-item" href="/tips">მითითებები</a></li>
          </ul>
        </li>
        {% if current_user.role=="admin" %}
          <li class="nav-item">
            <a class="nav-link" href="/add_book" style="font-weight: bold;">Add book</a>
          </li>

        {% endif %}
      </ul>

      {% if current_user.is_authenticated %}
        <li class="nav-item username">
          <p>{{ current_user.username }}</p>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light mx-2" href="/logout" role="button">Log Out</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-light mx-2" href="/login" role="button">Log In</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light mx-2" href="/register" role="button">Register</a>
        </li>
      {% endif %}
    </div>
  </div>
</nav>
