{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center" style="color: orange;">მითითებები</h1>
    <p class="text-center">წარმატებული სწავლებისთვის საჭირო რჩევები.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title" style="color: orange;">როგორ ვიმეცადინოთ კონკურსებისთვის</h5>
                    <p class="card-text">
                        კონკურსებისთვის მზადება მოითხოვს <strong>ყოველდღიურად 4.5 საათის</strong> მეცადინეობას,
                        რათა შეეჩვიოთ დიდხანს მუშაობასა და კონცენტრაციას.
                        <br><br>
                        საშუალოდ თითოეული ამოცანის ამოხსნას <strong>45 წუთი</strong> უნდა დაუთმოთ.
                        ასევე, ძალიან მნიშვნელოვანია ტელეფონისა და თამაშების თავიდან აცილება კონკურსის ბოლო დღემდე,
                        დასვენება და <strong>ფიზიკური აქტივობა</strong>, რომელიც ტვინის მუშაობას აუმჯობესებს.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title" style="color: orange;">როგორ ვიმეცადინოთ გამოცდებისთვის</h5>
                    <p class="card-text">
                        გამოცდებისთვის აუცილებელია დროის მენეჯმენტი და სიჩქარეზე მუშაობა.
                        თითოეული ამოცანის ამოხსნას მაქსიმუმ <strong>10 წუთი</strong> უნდა დაუთმოთ.
                        <br><br>
                        <strong>მუშაობის თანმიმდევრულობა</strong> სასიცოცხლოდ მნიშვნელოვანია, რათა ცოდნის გამყარება და
                        გამოცდისთვის მზადყოფნა მოხდეს.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <h4 style="color: orange;">დასკვნა</h4>
        <p>მუდმივად იმუშავეთ, დაისვენეთ, დაარეგულირეთ თქვენი დრო და მიჰყევით ამ მითითებებს,
        რათა მიაღწიოთ სასურველ შედეგებს.</p>
    </div>
</div>



{% endblock %}